#title{
    font-size: 40px;
    font-weight: bold; 
    text-align: center; 
    color: blue;
}

.desc{
  text-align: center;
  color: green;
  font-size: 30px;
}

.main-div{
  text-align: center;
  font-size: 20px;
  color: red;
}